<section class="container">
    <h1>{{"კონტაქტი" | translate}}</h1>
    <div class="block" *ngIf="!isSuccess">
        <span class="icon-wrap">
            <i class="icon icon-phone"></i>
        </span>
        <h3>{{"დაგვიტოვეთ თქვენი ნომერი და ჩვენ დაგიკავშირდებით" | translate}}</h3>
        <div class="form" [formGroup]="form">
            <mat-form-field appearance="fill">
                <mat-label>5XX XX XX XX</mat-label>
                <input matInput formControlName="phone" [cleave]="{numericOnly: true, blocks: [3, 2, 2, 2]}">
                <span matPrefix class="phone-pre">+995</span>
                <mat-error>{{getErrorMessage('phone') | translate}}</mat-error>
            </mat-form-field>
            <button class="submit" (click)="submit()">{{"დამირეკეთ" | translate}}</button>
        </div>
        <span class="info">{{"ალტერნატიულ შემთხვევაში ისარგებლეთ ცხელი ხაზით" | translate}}</span>
        <span class="contact">
            <a href="tel:{{options.phone1}}">{{options.phone1}}</a> {{"ან" | translate}} <a
                href="tel:{{options.phone2}}">{{options.phone2}}</a>
        </span>
        <span class="contact-info email" *ngIf="options.email">
            <i class="icon icon-email"></i>
            <a href="mailto:{{options.email}}">{{options.email}}</a>
        </span>
        <span class="contact-info address" *ngIf="options.address">
            <i class="icon icon-pin"></i>
            <span>{{options.address | translate}}</span>
        </span>
    </div>
    <app-feed-back *ngIf="isSuccess">
        {{"ჩვენ მალე დაგიკავშირდებით!" | translate}}
    </app-feed-back>
</section>
