@import "src/styles/variables";

section {
    display: flex;
    flex-direction: column;
    margin: 70px 0 100px;

    @include md {
        margin: 60px 0 100px;
    }

    @include sm {
        margin: 45px 0 70px;
    }

    h1 {
        font-size: 36px;
        color: #ffffff;
        margin-bottom: 40px;

        @include useCaps;

        @include md {
            margin-bottom: 80px;
        }

        @include sm {
            margin-bottom: 35px;
            font-size: 24px;
        }
    }

    .block {
        position: relative;
        width: 800px;
        align-self: center;
        display: flex;
        flex-direction: column;
        padding: 40px 20px 60px;
        background-color: rgba(#0a6b98, 0.6);
        align-items: center;
        border-radius: 10px;
        box-sizing: border-box;

        @include md {
            width: 100%;
        }

        &::after {
            content: "";
            position: absolute;
            height: 500px;
            border-radius: 6px;
            border: 2px #ffd308 solid;
            box-sizing: border-box;
            left: -2px;
            top: 50%;
            transform: translateY(-50%);

            @include sm {
                display: none;
            }
        }

        .icon-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            background-color: #09425f;
            color: #ffd308;
            border-radius: 50%;
            margin-bottom: 30px;

            @include md {
                width: 60px;
                height: 60px;
                margin-bottom: 40px;
            }

            @include sm {
                width: 40px;
                height: 40px;
                margin-bottom: 30px;
            }

            i {
                font-size: 26px;
                line-height: 0;

                @include md {
                    font-size: 22px;
                }

                @include sm {
                    font-size: 18px;
                }
            }
        }

        h3 {
            color: #ffffff;
            font-size: 16px;
            margin-bottom: 25px;
            line-height: 32px;
            text-align: center;

            @include useCaps;

            @include md {
                margin-bottom: 40px;
            }

            @include sm {
                font-size: 12px;
                line-height: 26px;
                margin-bottom: 20px;
            }
        }

        .form {
            width: 390px;

            @include sm {
                width: 100%;
            }
        }

        mat-form-field {
            width: 100%;
        }

        .submit {
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 25px;
            width: 100%;
            height: 60px;
            background-color: #ffd308;
            border-radius: 0 10px 0 10px;
            padding: 0 20px;
            outline: none;
            font-size: 14px;
            color: #09425f;
            -webkit-text-stroke: 1px #09425f;
            box-sizing: border-box;
            outline: none;
            border: none;
            box-shadow: 0 2px 10px rgba(#000000, 0.15);
            transition: background 0.2s;

            &:hover {
                background-color: darken(#ffd308, 8);
            }

            @include useCaps;
        }

        .phone-pre {
            font-size: 14px;
            padding: 5px 10px 5px 0;
            margin-right: 10px;
            color: #ffffff;
            border-right: 1px solid #ffffff;
            transform: translateY(-9px);
            display: block;
            line-height: 1;
        }

        .info {
            color: #3da5d8;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 10px;
            display: inline-block;

            @include sm {
                margin-bottom: 15px;
            }
        }

        .contact {
            font-size: 18px;
            color: rgba(#ffffff, 0.3);
            margin-bottom: 50px;

            a {
                text-decoration: none;
                color: #ffffff;
            }
        }

        .contact-info {
            font-size: 14px;
            color: #ffffff;
            display: flex;
            align-items: center;

            &.email {
                margin-bottom: 20px;

                a {
                    color: #ffffff;
                }
            }

            i {
                color: #ffd308;
                margin-right: 10px;
            }
        }
    }
}
