<section class="container" *ngIf="data">
    <h1>{{data.title | translate}}</h1>
    <div class="content">
        <figure>
            <img src="{{storage + data.image}}" alt="{{data.title}}">
        </figure>
        <div class="text">
            <p class="main-text">{{data.text | trim | translate}}</p>
            <p class="sub-text" *ngIf="data.subTitle">{{data.subTitle | trim | translate}}</p>
        </div>
        <div class="list" *ngIf="documents.length">
            <div class="item" *ngFor="let item of documents">
                <div class="document">
                    <i class="ic-document"></i>
                    <div class="content">
                        <h3 class="title">{{ item.name | translate }}</h3>
                        <div>
                            <span class="date">{{ item.date | date: "dd.MM.yyyy" }}</span>
                            <a href="{{ storage + item.file }}" download="{{ item.name }}">
                                <i class="icon icon-donwload"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>