@font-face {
    font-family: 'CGC-Icons';
    src: url(/assets/fonts/CGC-Icons.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CGC-Arial';
    src: url(/assets/fonts/CGC-Arial.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CGC-Caps';
    src: url(/assets/fonts/CGC-Caps.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
